<h1>Create Product:</h1>
<form (submit)="createProduct()">
    <label for="title"> Title:
        <input [(ngModel)]="newProduct.title" type="text" name="newProduct.title">
    </label>
    <label for="price"> Price:
        <input [(ngModel)]="newProduct.price" type="text" name="newProduct.price">
    </label>
    <label for="image_url"> Image url:
        <input [(ngModel)]="newProduct.image_url" type="text" name="newProduct.image_url">
    </label>
    <input type="submit" value="submit">
</form>